@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'HakgyoansimWoojuR';
    background-color: #F9F9F9;
}

#main{
    width: 80%;
    text-align: center;
}

#result{
    display: none;
    width: 80%;
    text-align: center;
}

.kakao{
    color: white;
    background-color: #FEE500;
    border: none;
}

.kakao:hover, .kakao:focus{
    background-color: #F9F9F9;
    color: #FEE500;
}

