#qna{
    display: none;
    width: 80%;
    margin: 0 auto;
}

.qbox{
    text-align: center;
    background-color: #fa90c1;
}

.abox{
    text-align: center;
}

.answerList{
    display: block;
    border: none;
    width: 100%;
    font-weight: bold;
    border-radius: 10px;
}

.answerList:hover, .answerList:focus{
    background-color: #4570ff;
    color: white;
}

.status{
    height: 20px;
    background-color: #ddd;
}

.statusbar{
    height: 100%;
    background-color: #2357ff;
}